name: Go tests

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Go 1.23
        uses: actions/setup-go@v6
        with:
          go-version: '1.23'
      - name: Run tests
        run: go test
